body{
    background-color: coral;
}
#OrderNow{
    height: 550px;
    background-color: white;
    /* margin-top: 130px; */
    position: absolute;
    top: 50px;
    width: 100%;
    border-color: black;
    border-style: solid;
}
.food-item{
    height: 300px;
}
.desc{
    display: inline-block;
    width: 500px;
    margin-left: 80px;
    text-align: center;
    font-family: sans-serif;
    /* background-color: aliceblue; */
}
.order{
    display: inline-block;
    position: absolute;
    top:480px;
    left: 250px;
}
button{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: rgba(255, 102, 0, 0.753);
}
button:hover{
    background-color: rgba(255, 72, 0, 0.815);
}
.close{
    position: absolute;
    top: 30px;
    width: 50px;
    background-color: white;
    left: 340px;
    z-index: 2;
    border: 1px solid black;
    border-radius: 50px;
}
.whole{
    position: relative;
    /* background-color: black; */
    margin: 0;
    width: 50%;
    height: 670px;
    left: 300px;
}
.food-item img{
    height: 200px;
    margin-top: 50px;
    width: 100%;
    object-fit: contain;
}