<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaceOrder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style6.css' %}">
</head>
<body>
    <div class="whole">
         <div class="close">
            <a href="{% url 'order' %}"><img src="{% static '/image/close.png' %}" alt="close"> </a>
        </div>
             <div id="OrderNow">
                <div class="food-item">
                    
                    {% if product.image.url %}
                        <img src="{{product.image.url}}">
                    {% endif %}
                        
                </div>     
                <div class="desc">
                    <h1>{{product.title}}</h1>
                    <h2>Rs.{{product.price}}</h2>
                    <h3>{{product.descript}}</h3>
                    {% comment %} <p>rating</p> {% endcomment %}
                </div>
                <div class="order">
                    <a href="{% url 'ordernow' product.id %}">
                    <button>Order Now</button>
                    </a>
                </div>
            </div> 
    </div>
</body>
</html>