body{
    background-color: black;
}
#whole{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.intro{
    color: rgb(255, 104, 3);
    width: 390px;
    /* background-color: aliceblue; */
    padding: 20px;
    text-align: center;
}
.anime{
    /* background-color: aliceblue; */
    width: 100px;
    padding: 10px;
}
.anime img{
    width: 100px;
    height: 100px;
}
.burger1{
    animation-name: burgerLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes burgerLeft{
    0%{left: 0;}
    100%{left: 350px;}
}
.burger2{
    animation-name: flow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate ;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes flow{
    0%{left: 0;}
    100%{left: -350px;}
}
#to-hold-food{
    width: 1200px;
    height: 3000px;
    /* background-color: rgb(57, 147, 170); */
    margin: 30px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 80px;
    padding: 30px;
}
.outer-div{
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgb(255, 104, 3) 3px 2px 15px 7px;
}
button{
    border-radius: 15px;
}
a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: rgb(255, 104, 3);
    font-weight: bolder;
    font-size: 20px;
}
.search{
    /* background-color: antiquewhite; */
    height: 35px;
    width: 450px;
    margin: 50px 450px;
    
}
#to-hold-food a{
    color:black;
}
#to-hold-food a:hover{
    color:coral;
}
a:hover{
    color: white;
}
span{
    color: rgb(255, 104, 3);
}
.image{
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: aqua;  */
}
.image img{
    width: 100%;
    height: 150px;   
    object-fit: contain;
}
.desc{
    margin:0px;
    font-family:'Times New Roman', Times, serif ;
}
.desc h1{
    font-size: 20px;
}
.desc h3{
    font-size: 15px;
    font-family: sans-serif;
}
.desc h4{
    margin-top: 0px;
}